<% @foods.each do |house_food|  %>
  <div class="card-link">
    <%= link_to house_food_path(house_food), class: 'links'  do%>
      <%# test the ternary if statement when the house food create starts working %>
      <div class="card-product mt-3 position-relative"id="<%= (house_food.expiry_date - Date.today).to_i %>">
        <div class="card-product-infos">
        <% if house_food.photo.attached? %>
          <%= cl_image_tag house_food.photo.key, alt: "text" %>
        <% else %>
          <%= image_tag 'no-image.jpg' %>
        <% end %>
          <% if house_food.amount > 1 %>
            <h5>
              <%= house_food.amount %>
              <% if house_food.measurement.present? %>
                <%= house_food.measurement.pluralize %> of
              <% end %>
              <%= house_food.food.name.pluralize  %>
            </h5>
          <% else %>
            <h5><%= house_food.food.name %></h5>
          <% end %>
          <% if (house_food.expiry_date - Date.today).to_i == 1 %>
          <h6>Expiring tomorrow!</h6>
          <% elsif (house_food.expiry_date - Date.today).to_i > 1%>
          <h6><%= (house_food.expiry_date - Date.today).to_i %> Days left</h6>
          <% else %>
          <h6>Expired!</h6>
          <% end %>
        </div>
      <% end %>
        <div class="icon">
          <i class="fa-solid fa-triangle-exclamation" id="warning"></i>
        </div>
    </div>
    <div class="d-flex position-absolute top-0">
      <%= simple_form_for([house_food, Item.new], data: { action: 'submit->toast#addedToShoppingList', toast_target: 'form'}) do |f| %>
        <%= hidden_field_tag :food_id, house_food.food.id %>
        <%= button_tag type: 'submit', class: 'button-shopping-list' do %>
          <i class="fa-solid fa-basket-shopping"></i>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex position-absolute top-0 end-0">
      <%= link_to house_food_path(house_food), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'delete-button' do %>
        <i class="fa-solid fa-xmark"></i>
      <% end %>
    </div>
  </div>
<% end %>
