<% @foods.each do |food|  %>
<div class="card-link">
  <%= link_to house_food_path(food), class: 'links'  do%>
    <%# test the ternary if statement when the house food create starts working %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(food.food.photo.key)%>)" id="<%= (food.expiry_date - Date.today).to_i %>">
      <div class="icon">
        <i class="fa-solid fa-triangle-exclamation" id="warning"></i>
      </div>
      <div class="card-details">
        <% if food.amount > 1 %>
          <h4><%= food.amount %> <%= food.food.name %>s</h4>
        <% else %>
          <h4><%= food.amount %> <%= food.food.name %></h4>
        <% end %>
      </div>
      <% end %>
      </div>
      <div class="delete">
        <%= link_to house_food_path(food), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'delete-button' do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>
    </div>
  <% end %>