<div class="container">
  <h1>Inventory <%= link_to new_house_food_path  do%>
   <i class="fa-sharp fa-solid fa-plus"></i>
  <% end %></h1>
  <div class="cards">
    <% @foods.each do |food|  %>
      <%= link_to house_food_path(food), class: 'links'  do%>
        <%# test the ternary if statement when the house food create starts working %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= food.photo.attached? ? cl_image_path(food.photo.key) : image_path("no-image.jpg") %>)" id="<%= (food.expiry_date - Date.today).to_i %>">
          <div class="card-details">
            <h4><%= food.amount %> <%= food.food.name %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%# add a red border when the expirary date is within 3 days (Today.date - @foods.expirary_date)?%>
