<div class="container">
  <h1 class="text-center my-2">ADD NEW FOOD</h1>
  <%= simple_form_for @house_food  do |f| %>
    <%#= f.association :food, %>
    <%= f.input :food_id, collection: @foods, input_html: {data: {controller: "tom-select"}} %>
    <%= f.input :amount, :class => "new_food_input" %>
    <%= f.input :measurement, collection: HouseFood::MEASUREMENT %>
    <%= f.input :bought_date %>
    <%= f.input :expiry_date %>
    <%= f.submit  %>
  <% end %>
</div>
