<div class="banner">
  <div class="row d-flex justify-content-center" style="height:100%">
    <div class="d-flex flex-column justify-content-around mt-3 text-center">
      <div>
        <h1>FRESHOUT</h1>
        <p class="mt-3 px-2">Keep track of your kitchen’s food and stop wasting food</p>
      </div>
      <div class="d-flex flex-column align-items-center gap-2">
        <%= link_to "Inventory", house_foods_path, class: "button" %>
        <!-- <%= link_to "Scan", new_house_food_path, class: "button" %> -->
        <!-- <form action="/scan" method="post">
          <%# <input type="file" name='receipt'> %>
          <input type="submit">
      </form>
      -->
        <div data-controller="trigger-scan-submit">
          <%= form_with url: '/scan', method: :post, data: { trigger_scan_submit_target: 'form' } do |f| %>
            <%= label_tag :photo, "Scan", class: 'button' %>
            <%= f.file_field :photo, style: 'display: none;', data: { action: 'input->trigger-scan-submit#triggerButton'} %>
            <%= f.submit 'scan', style: 'display: none;' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
