<div class="container">
<div class="list-info">
  <h1 class="text-center mt-3">Shopping List<%= link_to new_item_path, class: 'text-decoration-none'  do%>
      <i class="fa-sharp fa-solid fa-plus" style = "color:#73c070"></i>
    <% end %>
  </h1>
  <div class="d-flex justify-content-around">
    <%= simple_form_for @shopping_list, url:store_all_shopping_list_path do |f| %>
      <%= f.button :submit, "Add all", class: "button small-button" %>
    <% end %>
    <div data-controller="trigger-scan-submit">
      <%= form_with url: '/scan', method: :post, data: { trigger_scan_submit_target: 'form' } do |f| %>
        <%= label_tag :photo, "Scan", class: 'button small-button' %>
        <%= f.file_field :photo, style: 'display: none;', data: { action: 'input->trigger-scan-submit#triggerButton'} %>
        <%= f.submit 'scan', style: 'display: none;' %>
      <% end %>
    </div>
  </div>
</div>

  <div>
    <% @items.each do |item| %>
      <div class="card-product mt-3 position-relative">
        <% if item.food.photo.attached? %>
          <%= cl_image_tag item.food.photo.key, alt: "text" %>
        <% else %>
          <%= image_tag 'no-image.jpg' %>
        <% end %>
        <div class="card-product-infos">
          <% if item.user.present? %>
            <p><%= item.user.username.capitalize%></p>
          <% end %>
          <h1><%= item.food.name.capitalize %></h1>
          <div class="d-flex position-absolute top-0 end-0">
            <%= render 'house_foods/form', item: item, house_food: @house_food %>
            <%= render 'destroy_item', item: item %>
          </div>
          <div>
            <p><%= item.comment %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
